SpitpayClient/web/WEB-INF/wsdl/server.splitpay.com_8080/WSSplitpay/WSSplitpay.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="WSSplitpay">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://server.splitpay.com:8080/WSSplitpay/WSSplitpay?xsd=1"/>
</xsd:schema>
</types>
<message name="doPayment">
<part name="parameters" element="tns:doPayment"/>
</message>
<message name="doPaymentResponse">
<part name="parameters" element="tns:doPaymentResponse"/>
</message>
<message name="loginUser">
<part name="parameters" element="tns:loginUser"/>
</message>
<message name="loginUserResponse">
<part name="parameters" element="tns:loginUserResponse"/>
</message>
<message name="postingBill">
<part name="parameters" element="tns:postingBill"/>
</message>
<message name="postingBillResponse">
<part name="parameters" element="tns:postingBillResponse"/>
</message>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"/>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"/>
</message>
<portType name="WSSplitpay">
<operation name="doPayment">
<input wsam:Action="http://services/WSSplitpay/doPaymentRequest" message="tns:doPayment"/>
<output wsam:Action="http://services/WSSplitpay/doPaymentResponse" message="tns:doPaymentResponse"/>
</operation>
<operation name="loginUser">
<input wsam:Action="http://services/WSSplitpay/loginUserRequest" message="tns:loginUser"/>
<output wsam:Action="http://services/WSSplitpay/loginUserResponse" message="tns:loginUserResponse"/>
</operation>
<operation name="postingBill">
<input wsam:Action="http://services/WSSplitpay/postingBillRequest" message="tns:postingBill"/>
<output wsam:Action="http://services/WSSplitpay/postingBillResponse" message="tns:postingBillResponse"/>
</operation>
<operation name="registerUser">
<input wsam:Action="http://services/WSSplitpay/registerUserRequest" message="tns:registerUser"/>
<output wsam:Action="http://services/WSSplitpay/registerUserResponse" message="tns:registerUserResponse"/>
</operation>
</portType>
<binding name="WSSplitpayPortBinding" type="tns:WSSplitpay">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="doPayment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="postingBill">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSSplitpay">
<port name="WSSplitpayPort" binding="tns:WSSplitpayPortBinding">
<soap:address location="http://server.splitpay.com:8080/WSSplitpay/WSSplitpay"/>
</port>
</service>
</definitions>